body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #0b3d2e;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Hero */
.hero {
    background-color: #1e7f5c;
    color: white;
    padding: 40px;
    text-align: center;
}

/* Tours */
.tours {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.tour-card {
    background: white;
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tour-card img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

/* Content Pages */
.content {
    padding: 40px;
    background: white;
    margin: 30px;
    border-radius: 8px;
}

/* Contact Form */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.contact-form button {
    background-color: #0b3d2e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #0b3d2e;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* Login & Signup */
.auth-box {
    background: white;
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.auth-box button {
    width: 100%;
    background-color: #0b3d2e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.auth-box a {
    color: #0b3d2e;
    font-weight: bold;
    text-decoration: none;
}
.auth-box a:hover {
    text-decoration: underline;
}