/* Auth Pages */
.auth-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}
.auth-container h2 {
    margin-bottom: 5px;
}

.auth-container p {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Inputs */
.auth-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.auth-container input:focus {
    border-color: #ff6801;
}

/* Button */
.auth-container button {
    width: 100%;
    padding: 12px;
    background: #ff6801;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-container button:hover {
    background: #e85d00;
}

/* Links */
.auth-link {
    margin-top: 15px;
    font-size: 14px;
}

.auth-link a {
    color: #ff6801;
    text-decoration: none;
    font-weight: bold;
}

/* Messages */
.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.cart-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 15px;
}
.hero {
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: #ff6801;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #e85d00;
}