{%extends 'main.html'%}
{%block content%}
{%load static %}
<section class="content">
    <h2>About Us</h2>
    <p>
        Tour Guide Pakistan is a professional travel guidance platform
        dedicated to promoting the beauty, culture, and heritage of Pakistan.
        We provide reliable travel information, safety guidelines, and
        destination details for tourists.
    </p>

    <p>
        Our mission is to help travelers explore Pakistan confidently by
        offering accurate tour descriptions, seasonal advice, and cultural
        awareness for cities like Lahore, Jhelum, and the Northern Areas.
    </p>

    <p>
        We focus only on Pakistani destinations to support local tourism
        and showcase the true image of our country.
    </p>

     <p>
        Our mission is to help travelers explore Pakistan confidently by
        offering accurate tour descriptions, seasonal advice, and cultural
        awareness for cities like Lahore, Jhelum, and the Northern Areas.
    </p>

    <p>
        We focus only on Pakistani destinations to support local tourism
        and showcase the true image of our country.
    </p>

     <p>
        Our mission is to help travelers explore Pakistan confidently by
        offering accurate tour descriptions, seasonal advice, and cultural
        awareness for cities like Lahore, Jhelum, and the Northern Areas.
    </p>

    <p>
        We focus only on Pakistani destinations to support local tourism
        and showcase the true image of our country.
    </p>
</section>
{%endblock content%}

