{% extends "main.html" %}
{% block content %}
{% load static %}

<section class="content">
    <p>
        Daraz is Pakistan’s leading e-commerce platform.
        This website is created as a **portfolio project**
        to demonstrate front-end skills.
    </p>
     <p>
        Daraz is Pakistan’s leading e-commerce platform.
        This website is created as a **portfolio project**
        to demonstrate front-end skills.
    </p>
     <p>
        Daraz is Pakistan’s leading e-commerce platform.
        This website is created as a **portfolio project**
        to demonstrate front-end skills.
    </p>
    <p>
        Daraz is Pakistan’s leading e-commerce platform.
        This website is created as a **portfolio project**
        to demonstrate front-end skills.
    </p>
</section>
{% endblock content %}

