{% extends "main.html" %}
{% block content %}
{% load static %}

<section class="products">

    {% for product in products %}
    <div class="card">
        {% if product.image %}
            <img src="{% static 'images/'|add:product.image %}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'images/no-image.png' %}">
        {% endif %}

        <h3>{{ product.name }}</h3>
        <p>Rs. {{ product.price }}</p>

        <a href="{% url 'add_to_cart' product.id %}" class="add-cart-btn">
            Add to Cart
        </a>
    </div>
    {% endfor %}

</section>

{% endblock %}

